body{
  text-align: center;
}

h1{
  font-family:'Montserrat', sans-serif;
  font-weight:bold;
}

.jumbotron{
  margin-top:20px;
  padding:40px;
}

#printout{
  padding:20px;
  background-color:#e1e3dd;
  display:none;
  font-family: 'courier new';
}

hr#printer{
  margin:0;
}

.terminalDisplay{
  padding:20px;
  height: 600px;
  background-color:black;
  color:green;
}

.form-control , .form-control:focus {
  background-color:black;
  color:green;
}

.form-control::placeholder {
  color: green;
  opacity: 1;
}

form#numberInputForm{
  display:none;
}

p#greeting{
  font-size:20px
}

#computerMessages{
  display:none;
}
