body{
  text-align: center;
}

h1{
  font-family:'Montserrat', sans-serif;
}

#printout{
  padding:20px;
  background-color:white;
  display:none;
  font-family: 'courier new';
}

hr{
  margin:0;
  height:2px;
}

.terminalDisplay{
  height:300px;
  background-color:black;
  color:green;
}

.form-control , .form-control:focus {
  background-color:black;
  color:green;
}

.form-control::placeholder {
  color: green;
  opacity: 1;
}
